<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Management System - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><img src="{{ url_for('static', filename='LogoName.svg') }}" class="logo" alt="TaskSence Logo"></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <div class="login-container">
        <h2>Login to Project Management System</h2>
        <form id="loginForm">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <button type="submit">Login</button>
        </form>
        <p id="errorMessage" class="error-message"></p>
    </div>
    <canvas id="lorenzAttractor"></canvas>

    <footer>
        <p>© 2024 TaskSence. All rights reserved.</p>
    </footer>

    <script src="{{ url_for('static', filename='index/three.min.js') }}"></script>
    <script src="{{ url_for('static', filename='index/main.js') }}"></script>
    <script src="{{ url_for('static', filename='index/script.js') }}"></script>
</body>
</html>
