body {
    font-family: 'Roboto', sans-serif;
    background: #000000;
    margin: 0;
    padding: 0;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

#stars {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    z-index: 2;
    padding: 20px;
    position: relative;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
}

.logo {
    filter: invert(1) brightness(2);
    padding-top: 5px;
    width: 160px;
    height: 35px;
}

