body {
    font-family: 'Roboto', sans-serif;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

header {
    background-color: rgba(255, 255, 255, 0.1);
    width: 100%;
    z-index: 2;
    padding: 20px;
    position: relative;
    backdrop-filter: blur(10px);
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    flex: 1;
    text-align: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
}

.logo {
    filter: invert(1) brightness(2);  /* Изменяет цвет SVG на белый */
    padding-top: 5px;
    width: 160px;
    height: 35px;
}

canvas {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.login-container {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    text-align: center;
    z-index: 1;
    backdrop-filter: blur(10px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin-bottom: 20px;
    color: white;
}

label {
    display: block;
    margin-bottom: 8px;
    text-align: left;
    color: white;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #6a11cb;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

button:hover {
    background-color: #4ce91c;
}

.error-message {
    color: red;
    margin-top: 10px;
}

footer {
    padding: 10px;
    text-align: center;
    backdrop-filter: blur(10px);
    width: 100%;
    z-index: 2;
    position: relative;
}

p {
    color: #fff;
}